body {
    background: black;
    color: white;
}

.site {
    max-width: 60em;
    margin: 0 auto;
}

label {
    margin-bottom: .5em;
}

table {
    border: 1px solid #ccc;
    width: 100%;
    border-spacing: 0.2em;
    color: black;
    margin-bottom: 1.5em;
}

table td,
table th {
    border: 1px solid #ccc;
    padding: 0.4em 0.8em;
}

table thead th,
table tfoot td {
    font-weight: bold;
    text-align: center;
    background: #ccc;
    color: #000;
}

table tbody tr {
    color: #fff;
    background: #000;
}

table tbody tr:hover {
    color: #000;
    background: #fff;
}

form div {
    padding-bottom: 1em;
    padding-left: 1.5em;
}

form div input {
    margin-right: 1em;
}

.radio-select {
    margin-left: 1rem;
    padding-bottom: .5em;
}

form p label {
    display: block;
}

textarea {
    resize: none ;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.ref{
    padding-left: 1.5em;
    padding-bottom: 0.5em;
}

.button {
    border: 2px solid #fff;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    padding: .5rem;
}

.buttons-first-row .button {
    background: #000;
    color: #fff;
}

.buttons-second-row .button,
.buttons-third-row .button {
    background: rgb(51, 51, 51);
    color: #fff;
}

.buttons-first-row .hover:hover {
    color: rgb(0, 102, 0);
    border: 2px solid rgb(0, 102, 0);
}

.buttons-second-row .hover:hover,
.buttons-third-row .hover:hover {
    color: #fff;
    background: rgb(0, 102, 0);
}

/* .button i {
    margin: 5px;
} */