html {
    font: 12px/1.5 "Roboto", Arial, Helvetica, sans-serif;
}

@media (min-width: 800px) {
    html {font-size: 14px}
}

@media (min-width: 1024px) {
    html {font-size: 16px}
}

@media (min-width: 1280px) {
    html {font-size: 18px}
}

body, form, table, input, textarea, option, select, ul, ol, button {
    font: inherit;
}

p, ul, ol {
    padding-bottom: 1.5em;
    padding-top: 1em;
}

ul, ol{
    padding-left: 2.5em;
}

input, label, select, textarea, button {
    margin-left: 1rem;
}

legend {
    margin-left: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab";
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    padding-top: 0.5em;
}

hr {
    border: 0;
    border-top: 1px solid #8c8c8c;
    border-bottom: 1px solid #fff;
}

blockquote {
    padding-left: 2.5em;
    padding-right: 2.5em;
    border-left: 2px solid white;
}

blockquote p {
    font-style: italic;
}

blockquote p:last-child {
    padding-bottom: 0;
}

blockquote p.author {
    text-align: right;
}
