.site-header,
.site-footer {
    border: 0 solid #fff;
}

.site-header {
    border-bottom-width: 2px;
}

.site-header h1 {
    padding-top: .5em;
}

.site-footer {
    border-top-width: 2px;
}

label {
    margin-bottom: .5em;
}

table {
    border: 1px solid #ccc;
    width: 100%;
    border-spacing: 0.2em;
    color: black;
    margin-bottom: 1.5em;
}

table td,
table th {
    border: 1px solid #ccc;
    padding: 0.4em 0.8em;
}

table thead th,
table tfoot td {
    font-weight: bold;
    text-align: center;
    background: #ccc;
    color: #000;
}

table tbody tr {
    color: #fff;
    background: #000;
}

table tbody tr:hover {
    color: #000;
    background: #fff;
}

form div {
    padding-bottom: 1em;
    padding-left: 1.5em;
}

form div input {
    margin-right: 1em;
}

.radio-select {
    margin-left: 1rem;
    padding-bottom: .5em;
}

form p label {
    display: block;
}

textarea {
    resize: none ;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.ref{
    padding-left: 1.5em;
    padding-bottom: 0.5em;
}

.button {
    border: 2px solid #fff;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    padding: .5rem;
}

.buttons-first-row .button {
    background: #000;
    color: #fff;
}

.buttons-second-row .button,
.buttons-third-row .button {
    background: rgb(51, 51, 51);
    color: #fff;
}

.buttons-first-row .hover:hover {
    color: rgb(0, 102, 0);
    border: 2px solid rgb(0, 102, 0);
}

.buttons-second-row .hover:hover,
.buttons-third-row .hover:hover {
    color: #fff;
    background: rgb(0, 102, 0);
}

.box-model {
    width: 200px;
    margin: 0 auto;
    padding: 2em;
    border: 5px solid #fff;
    border-radius: 2rem;
    background: rgb(64, 224, 208);
    color: #000;
}

.box-model-second {
    width: 250px;
    height: 250px;
    margin: 3em auto;
    border: 2px dotted #fff;
}

.box-model-second h1 {
    padding-top: .5em;
    text-align: center;
}

.box-model-second p {
    width: 100%;
    border: 2px solid #090;
    text-align: center;
    padding: 20px;
}

.box-model-article {
    background: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    padding: 1em;
}

.box-model-article img {
    width: 100%;
}

.exercise-site-branding h3{
    display: inline-block;
    width: 30%;
}

.exercise-site-nav {
    display: inline-block;
    width: 69%;
    padding-top: 2.5em;
    vertical-align: top;
}

.exercise-site-nav ul {
    padding: 0;
}

.exercise-site-nav ul li {
    display: inline-block;
}

.exercise-site-nav a {
    display: block;
    padding: 0.5em 1em;
    background: #eee;
    color: #333;
    text-decoration: none;
    border-radius: 3em;
    border: 1px solid black;
}